@charset "utf-8";
/*Colors the background a fabulous p!nk*/
body {
    background-color: #ffdbf1;
}

* {
    box-sizing: border-box;
}
/*makes everything show up in an orderly fashion instead of all jumbled together.*/
.typing {
    display: flex;
}


ul {
    margin: 0;
    padding: 0;
}


ul li {
    cursor: pointer;/*Makes the cursor look all hand-like and stuff*/
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-top: solid #ffdbf1;

}





ul li:hover {/*What happens in hover stays in hover(it only affects the element when you hover over it)*/
    background: #ddd;
}


ul li.done {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #ff008c;
}


ul li.done::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #ff008c;
    color: white;
}


.header {
    background-color: #ff75c1;/*Changes color*/
    padding: 50px 50px;/*Adds some good ol' padding to protect our header*/
    color: white;
    text-align: center;/*Makes the text show up in the center of the square, it look unprofessional otherwise*/
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin-right: 10px;
    border: none;
    border-radius: 100px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;/*Makes the cursor look like a hand again because thats cool and looks a button*/
    transition: 0.3s;
    border-radius: 100px;;
}

.addBtn:hover {
    background-color: #bbb;
}