@charset 'utf-8';
body {
    background-color: aliceblue;
}

.imagery {
    display: flex;
    justify-content: center;
}

.imagery section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}
.pics {
    height: 250px;
    width: 354px;
}
 
.toggle {
    background-color: black;
}
.sqr {
    border:solid black 3px;
    height: 250px;
    width: 400px;
    margin: 3px;
    }
.img1 {
    height: 250px;
    width: 400px;
}   
.sqr2 {
    padding-left: 10px;
}

.sqr3 {
    display: flex;
}

.sqr4 {
    padding-left: 10px;
}

.rotate {
    transform: rotate(360deg);
    transition-duration: 5s;
}

.spin {
    width: 400px;
    height: 250px;
}