@charset 'utf-8';
body {
    background-color: aliceblue;
}

.imagery {
    display: flex;
    justify-content: center;
}

.imagery section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}
.pics {
    height: 250px;
    width: 354px;
}
 
.toggle {
    background-color: black;
}
.sqr {
    border:solid black 3px;
    height: 250px;
    width: 400px;
    margin: 3px;
    }
.img1 {
    height: 250px;
    width: 400px;
}   
.sqr2 {
    padding-left: 10px;
}

.sqr3 {
    display: flex;
}

.sqr4 {
    padding-left: 10px;
}



.rotate {
    transform: rotate(360deg);
    transition-duration: 5s;
}

.spin {
    width: 400px;
    height: 250px;
}
.openL {
	font-size: 2vmax;
    margin-top: 80px;
    margin-left: 130px;
}
#lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}

#lightbox.open {
	display: block;
}

#lightbox_content {
	position: absolute;
	width: 500px;
	height: 300px;
	background: #ffffff;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
    margin-top: -200px;
    font-size: 70px;
}

#close {
    cursor:pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 20px;
	top: 20px;
	text-align: center;
	color: black;
	
	
	
}
